.signup-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff; /* Blue color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.btn-outline-success, .signup-btn{
    margin-right: 10px;
}

.signup-btn:hover {
    background-color: #45a049;
}




.heading>h1 {
    font-size: 57px;
    font-weight: bold;
    font-family: auto;
}

.main-heading{
    font-size: 40px;
    font-family: auto;
    text-align: center;
}
.systems{
    font-size: 15px;
    font-family: system-ui;
    text-align: center;
}
section#third {
    background: #eee;
}

section#cta {
    background: #003d74;
    color: #fff;
}
.size {
    border-radius: 40% 7%;
    box-shadow: 2px 4px 10px #00000082;
}
h3.proff {
    font-size: 22px;
    font-weight: bold;
    font-family: auto;
    text-align: left;
}
p.proffs {
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    text-align: justify;
}
.box1 {
    background: #1f7bda;
    padding: 30px 20px;
    color: #fff;
}
.box2 {
    background: #cea975;
    padding: 30px 20px;
    color: #fff;
}
.sixe {
    box-shadow: 10px 10px 10px #2c28287a;
    margin: 30px 20px;
}
li.provw {
    text-align: center;
    list-style: none;
    font-size: 15px;
    font-family: system-ui;
}
